<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      *,
      *:before,
      *:after {
          box-sizing: border-box;
      }

      html, body {
          margin: 0;
          padding: 0;
      }

      body {
          font-family: "Inter", sans-serif;
      }

      main {
          padding: 0 10px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
    <h1>Whoops!</h1>
    <p>We couldn't find that site. How about <a href="/">generating another one?</p>
    </main>
  </body>
</html>
